@page
@model GigHub.Pages.Gigs.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Add a Gig</h2>
<p class="alert alert-info">All fields are required.</p>
<form method="post">
    <div class="form-group">
        <label asp-for="GigViewModel.Venue"></label>
        <div class="row">
            <div class="col-md-4">
                <input asp-for="GigViewModel.Venue" class="form-control" autofocus />
                <span asp-validation-for="GigViewModel.Venue" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label asp-for="GigViewModel.Date"></label>
        <div class="row">
            <div class="col-md-4">
                <input asp-for="GigViewModel.Date" class="form-control" placeholder="eg 1 Jan 2018" />
                <span asp-validation-for="GigViewModel.Date" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label asp-for="GigViewModel.Time"></label>
        <div class="row">
            <div class="col-md-4">
                <input asp-for="GigViewModel.Time" class="form-control" placeholder="eg 20:00" />
                <span asp-validation-for="GigViewModel.Time" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label asp-for="GigViewModel.Genre"></label>
        <div class="row">
            <div class="col-md-4">
                <select asp-for="GigViewModel.Genre" asp-items='new SelectList(Model.GigViewModel.Genres, "Id", "Name")' class="form-control">
                    <option selected value="">-- Please choose --</option>
                </select>
                <span asp-validation-for="GigViewModel.Genre" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

